CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

build-BitManipulation-Desktop_Qt_5_15_2_MSVC2019_64bit-Debug/
build-BitManipulation-Desktop_Qt_5_15_2_MSVC2019_64bit-Debug

.vs 
.vs/
out/
out

cmake-build-debug
cmake-build-debug/

.idea
.idea/



